<?xml version='1.0' encoding='utf-8'?>
<plugin
  id="cordova-plugin-game-services"
  version="1.0.0"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <name>GameServices</name>

  <engines>
    <engine name="cordova" version=">=3.5.0"/>
  </engines>

  <js-module name="GameServices" src="www/GameServices.js">
    <clobbers target="cordova.plugins.gameservices" />
  </js-module>

  <platform name="android">
    <preference name="APP_ID" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GameServices">
        <param name="android-package" value="com.littlemathgenius.cordova.plugins.gameservices.GameServices" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="res/values/strings.xml" parent="/resources">
      <string name="app_id">$APP_ID</string>
      <string name="sign_in_other_error">There was an issue with sign-in, please try again later.</string>
      <string name="sign_in_failed">Failed to sign in. Please check your network connection and try again.</string>
      <string name="app_misconfigured">The application is incorrectly configured. Check that the package name and signing certificate match the client ID created in Developer Console. Also, if the application is not yet published, check that the account you are trying to sign in with is listed as a tester account. See logs for more information.</string>
      <string name="license_failed">License check failed.</string>
      <string name="unknown_error">Unknown error.</string>
      <string name="gamehelper_sign_in_failed">Failed to sign in. Please check your network connection and try again.</string>
      <string name="gamehelper_app_misconfigured">The application is incorrectly configured. Check that the package name and signing certificate match the client ID created in Developer Console. Also, if the application is not yet published, check that the account you are trying to sign in with is listed as a tester account. See logs for more information.</string>
      <string name="gamehelper_license_failed">License check failed.</string>
      <string name="gamehelper_unknown_error">Unknown error.</string>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data
        android:name="com.google.android.gms.games.APP_ID"
        android:value="@string/app_id" />
      <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    </config-file>

    <source-file src="src/android/BaseGameUtils.java" target-dir="src/com/littlemathgenius/cordova/plugins/gameservices"/>
    <source-file src="src/android/GameHelper.java" target-dir="src/com/littlemathgenius/cordova/plugins/gameservices"/>
    <source-file src="src/android/GameHelperUtils.java" target-dir="src/com/littlemathgenius/cordova/plugins/gameservices"/>
    <source-file src="src/android/GameServices.java" target-dir="src/com/littlemathgenius/cordova/plugins/gameservices" />
  </platform>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="GameServices">
        <param name="ios-package" value="GameServices" />
      </feature>
    </config-file>
    <source-file src="src/ios/GameServices.m" />
  </platform>
</plugin>
